<div class="navbar" >
    <div class="head">Leena Gupta</div>
    <div class="block">
        <ul>
            <li>Home</li>
            <li>Login</li>
            <li>Registration</li>
        </ul>
    </div>
</div>